<%= render partial: "shared/navBar", locals: {type: "admin"}  %>
    <% if flash[:color]== "invalid"%>
        <div id="flash-err-wrapper" class="flash">
            <div id="flash-err"><%=flash[:notice]%></div>
        </div>
    <% elsif flash[:color] == "valid" %>
        <div id="flash-message-wrapper" class="flash">
            <div id="flash-message"><%=flash[:notice]%></div>
        </div>
    <%end%>
    <br>

<h1>App Config</h1>
<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @configs.each do |config| %>
      <tr>
        <td><%=config.name%> = <%=config.value%>&nbsp;&nbsp;</td>
        <td><%= link_to 'Edit', edit_app_config_path(config) %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>


