<%= render partial: "shared/navBar", locals: {type: "admin"}  %>
    <% if flash[:color]== "invalid"%>
        <div id="flash-err-wrapper" class="flash">
            <div id="flash-err"><%=flash[:notice]%></div>
        </div>
    <% elsif flash[:color] == "valid" %>
        <div id="flash-message-wrapper" class="flash">
            <div id="flash-message"><%=flash[:notice]%></div>
        </div>
    <%end%>
    <br>

<h1>App Config</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configs.each do |config| %>
      <tr>
        <td><%=config.name%></td>
        <td><%= link_to 'Edit', controller: "appconfig", action: "edit", id: config %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>


