<tr class="listBgSel">
  	<td class="listuser"><%=gr[0].firstname%> <%=gr[0].lastname%> #<%=gr[0].slipnum%></td>
  	<% 	wrong = 0 
		winnercount = 0
	%>
  	<% gr.each do |pick| %>
  			<% 	t = teams[pick.team_id] 
  				if winners.has_key?(t.id)
  					winner = 1
  				elsif winners.has_value?(t.id)
  					winner = 0
  				else
  					winner = -1
  				end
  			%>
          <td class="logo-small logo-nfl-small nfl-small-<%= t.large_img %> game-tooltip 
          <% if winner == 1%>rightpick<%elsif winner == 0 %>wrongpick<%end%>" title="<%=t.name%>"><span><%=t.id%></span></td>
	<% end %>
          <td class="logo-small" align="center">
            <img src="/assets/<%if wrong == 1%>red-x.png"<% elsif winnercount == 5 %>checkmark.png"<% else %>questionmark.gif" height="23px"<%end%> >
          </td>
          <td class="numbercenter"><%= gr[0].wins.to_s %></td>
</tr>